*{
    margin:0;
    padding:0;
}
#foot
{
	margin-left:-190px;
	color:grey;
}
body {
    background-color:green;
    background-image:url("../images/orn.jpg");
    color:white;
    font:14px/1.3 Arial,sans-serif;
}
.container {
    background:url("../images/header.jpg") repeat-x top left;
    border-top: 5px solid #000000;
    height: 600px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.content {
    margin:0 auto;
    width:900px;
}